@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Poppins", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@theme {
  /* Override default nuxt styling */

  /* Define new custom color */
  --color-brand-50: #d4d6db;
  --color-brand-100: #7d8394;
  --color-brand-200: #676e82;
  --color-brand-300: #515971;
  --color-brand-400: #3c455f;
  --color-brand-500: #26304d;
  --color-brand-600: #222b45;
  --color-brand-700: #1e263e;
  --color-brand-800: #1b2236;
  --color-brand-950: #171d2e;
}

:root {
  /* Light mode colors */
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  /* Light mode text colors */
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-highlighted: var(--ui-color-brand-700);
  
  /* Light mode backgrounds */
  --ui-bg: white;
  --ui-bg-elevated: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  
  /* Light mode borders */
  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-100);
}

.dark {
  /* Dark mode colors */
  --ui-primary: var(--ui-color-primary-400);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-400);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);

  /* Dark mode text colors */
  --ui-text-dimmed: var(--ui-color-neutral-600);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-400);
  --ui-text: var(--ui-color-neutral-100);
  --ui-text-highlighted: var(--ui-color-brand-200);
  
  /* Dark mode backgrounds */
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  
  /* Dark mode borders */
  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-900);
}