@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Public Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@theme static {

  /* Override default nuxt styling */

  /* Define new custom color */
  --color-brand-50: #d4d6db;
  --color-brand-100: #7d8394;
  --color-brand-200: #676e82;
  --color-brand-300: #515971;
  --color-brand-400: #3c455f;
  --color-brand-500: #26304d; 
  --color-brand-600: #222b45;
  --color-brand-700: #1e263e;
  --color-brand-800: #1b2236;
  --color-brand-950: #171d2e;
}

:root {
  --ui-primary: var(--ui-color-brand-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-brand-600);
  --ui-text-highlighted: var(--ui-color-brand-850);
  --ui-text-inverted: var(--ui-color-brand-600);
}

.dark {
  --ui-primary: var(--ui-color-primary-200);
}